header {
    background-color: #DEF3F8;
}

header a{
    color: #000077; 
}

body {
    background-color: #ffffff  
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #0a3641;
    font-size: 2rem;
    margin: 0% 30%;
}

h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 1rem;
    margin: 0% 35%;
}

.sale {
    color: #E71111;
    margin: 0% 5%;
}

nav li {
    display: inline-block
}

nav a {
    color: #000077;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0px;
    margin: 5% 25%;
}

.cta-button {
    background-color: #0a3641;
    color: #ffffff;
    text-decoration: none;
}

.color-behind-jackets {
    background-color: #25ACD2;
    margin: 0% 5%;
    background-size: 0% 5%;
}

.text-jackets {
    font-size: 1rem;
    margin: 0% 5%;
}

.color-behind-pictures {
    background-color: #25ACD2;
    margin: 0% 5%;
}

.active {
    background-color:  #def3f8;
    color: #000077;
    text-decoration: none;
    margin: 0% 5%;
}

.font-color {
    color: #0a3641;
}

footer {
    background-color: #DEF3F8;
    font-family: 'Roboto', Verdana, sans-serif;
    color:#0a3641;
}

.width {
    max-width: 35ch;
    margin: 0% 5%;
}

.quick-links {
    text-decoration:none;
    color: #0a3641;
    margin: 0% 5%;
}

.Copyright {
    background-color: #bfb6b6 ;
}

img {
    width: 10%;
    margin: 0% 5%;
}

